{{#if success_msg}}
  <div class="card">
    <div class="card-content green darken-2">
      <p class="white-text">{{success_msg}}</p>
    </div>
  </div>
{{/if}}

{{#if error_msg}}
  <div class="card">
    <div class="card-content red darken-2">
      <p class="white-text">{{error_msg}}</p>
    </div>
  </div>
{{/if}}